<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="WebDAV" />
            <add name="WebDAV" path="*" verb="PROPFIND,PROPPATCH,MKCOL,PUT,COPY,DELETE,MOVE,LOCK,POST,UNLOCK" modules="WebDAVModule" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>
</configuration>
